<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<string>64.0</string>
		<key>y</key>
		<string>274.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>168.0</string>
		<key>y</key>
		<string>274.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>272.0</string>
		<key>y</key>
		<string>274.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>378.0</string>
		<key>y</key>
		<string>274.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>213.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>213.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>213.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>213.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>213.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>130.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>130.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>130.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>130.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>130.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>49.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>49.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>49.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>49.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>49.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>-34.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>-34.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>-34.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>-34.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>-34.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>-115.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>-115.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>-115.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>-115.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>-115.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>-196.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>-196.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>-196.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>-196.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>-196.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>447.0</string>
		<key>y</key>
		<string>-279.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>343.0</string>
		<key>y</key>
		<string>-279.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>239.0</string>
		<key>y</key>
		<string>-279.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>135.0</string>
		<key>y</key>
		<string>-279.0</string>
	</dict>
	<dict>
		<key>x</key>
		<string>31.0</string>
		<key>y</key>
		<string>-279.0</string>
	</dict>
</array>
</plist>
